
#accountTabs {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label + .tab {
        display: block;
    }

    input[type="radio"]:checked + label {
        background-color: var(--color-form);
    }

    label {
        font-family: "Arima Madurai", display;
        color: var(--color-black);
        font-size: 1.5rem;
        padding: 1rem;
        background: white;
        font-weight: bold;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    label:hover {
        cursor: pointer;
    }

    .tab {
        width: 100%;
        background-color: var(--color-form);
        order: 1;
        display: none;
        text-align: left;
        padding: 2rem;
        border-radius: 0.5rem;
        border-top-left-radius: 0;

        h1 {
            margin: 0;
            text-align: center;
            color: var(--color-black);
            font-family: "Arima Madurai", display;
            font-size: 40px;
        }

        button {
            grid-column: 2;
            grid-row: 5;
            justify-self: end;
        }

        .successMessage, .errorMessage {
            grid-column: 2;
            margin-top: 1rem;
            font-size: 1.7rem;
            text-align: center;
            align-content: center;
        }
    }
}