
#editGameDetails {
    display: flex;
    width: 80vw;
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 3rem 0;
    border-radius: 8px;

    fieldset {
        display: grid;
        width: 100%;
        padding: 2rem;
        border: 5px solid;
        margin: 2rem;
        border-color: var(--color-bar-purple);
        border-radius: 8px;

        legend {
            font-size: 3rem;
            font-family: "Silkscreen", sans-serif;
            text-align: center;
        }

        #editGameForm {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: 3rem;
            color: var(--color-white);

            input {
                grid-column: 1;
                margin-right: 2rem;
            }

            #coverSection {
                grid-column: 2;
                grid-row: 1;
                align-items: center;
                font-size: larger;
                padding-left: 0;

                input {
                    font-size: large;
                    align-content: center;
                }
            }

            #description {
                grid-column: 1 / 3;
                height: 8rem;
                width: 100%;
                font-size: 1.2rem;
                margin-top: 1rem;
                padding-left: 0.5rem;
                padding-top: 0.5rem;
            }

            #playersSection, #categorySection, #coverSection, #releasedSection {
                display: flex;
                grid-column: 2;
                align-items: center;
                grid-row: 2;
                gap: 1rem;

                h2 {
                    
                    font-size: 2rem;
                    font-family: "Arima Madurai", display;
                    font-weight: 100;
                }

                select {
                    font-size: 20px;
                    padding: 0.2rem;
                    height: 2.5rem;
                }
            }

            #categorySection {
                grid-column: 1;
                grid-row: 4;
            }

            #coverSection {
                grid-row: 1;
            }

            #releasedSection {
                grid-row: 3;
                align-items: self-start;
            }

            #cancelButton, #saveButton {
                width: fit-content;
                padding: 0.2rem 0.6rem 0;
                font-size: 1.4rem;
                border-radius: 8px;
                border: solid;
                font-family: "Arima Madurai", display;
                background-color: var(--color-nintendo-gray-light);
                border-width: thin;
            }
    
            #saveButton {
                grid-column: 2;
                justify-self: end;
            }
    
            #cancelButton {
                grid-column: 1;
                height: fit-content;
            }
        }
    }
}