
.gameCard {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--color-card-light);
    width: 18rem;

    figure {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        img {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 20rem;
        }
    }

    #gameCardTitle {
        display: flex;
        justify-content: space-between;
        height: 100%;
        
        h1 {
            font-family: "Rancho", cursive;
            color: var(--color-black);
            font-size: calc(1.5vw + 12px);
            font-weight: 100;
            margin: 1rem 0 1rem 1rem;
            align-content: center;
        }

        button {
            height: 3rem;
            min-width: 3rem;
            align-self: self-end;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: var(--color-card-light);
        }
    }
}