
#loginCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-form);
    border-radius: 8px;
    width: 20rem;
    padding: 1rem 5rem 3rem;
    font-family: "Arima Madurai", display;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
        color: var(--color-black);
        text-align: center;
        font-size: 36px;
        margin-bottom: 2rem;
    }

    #loginForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        button {
            height: 39px;
            font-size: 20px;
            border-radius: 8px;
            background-color: lawngreen;
            font-weight: 600;
            margin-top: 1rem;
        }

        button:hover {
            opacity: 0.7;
        }
    }

    a {
        color: #064D61;
        font-size: 20px;
        font-weight: 600;
        align-self: end;
        margin-top: 0.6rem;
    }

    a:hover {
        opacity: 0.7;
    }
}