
.isFavourite {
    background-image: url("src/assets/isFavourite.png");
    background-size: cover;
    border: none;
}

.noFavourite {
    background-image: url("src/assets/noFavourite.png");
    background-size: cover;
    border: none;
}

.favouriteButton:hover {
    background-color: var(--color-nintendo-gray);
    opacity: 0.7;
}