
#searchPage {
    background-image: url("../../assets/backgrounds/nes-controller-in-black.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;

    button:active { 
        transform: scale(0.90); 
    }
}