@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.bunny.net/css?family=arima-madurai:400");

@import url("./AboutPage.css");
@import url("./App.css");
@import url("./EditGamePage.css");
@import url("./FavouriteButton.css");
@import url("./FavouritesPage.css");
@import url("./Footer.css");
@import url("./GameCard.css");
@import url("./GameDetailsPage.css");
@import url("./Header.css");
@import url("./LandingPage.css");
@import url("./LoginForm.css");
@import url("./LoginPage.css");
@import url("./Logo.css");
@import url("./NavBar.css");
@import url("./RegisterForm.css");
@import url("./RegisterPage.css");
@import url("./RequestPage.css");
@import url("./SearchForm.css");
@import url("./SearchPage.css");
@import url("./SearchResult.css");
@import url("./UserAccountPage.css");

/******************
* General Styling *
******************/

:root {
    --color-white: #f0cca4;
    --color-black: #101010;
    --color-card-light: #D9D9D9;
    --color-link-active: #CC8B21;
    --color-bar-purple: #4E69FA;
    --color-footer-heading: #D04545;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--color-white);

    main {
        flex: 5;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
    }
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}