@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.bunny.net/css?family=arima-madurai:400");
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import url("./components/account/AccountTabs.css");
@import url("./components/account/EditAccountTab.css");
@import url("./components/account/LoginForm.css");
@import url("./components/account/RegisterForm.css");
@import url("./components/common/FavouriteButton.css");
@import url("./components/common/FieldSetFrame.css");
@import url("./components/common/GameForm.css");
@import url("./components/common/Select.css");
@import url("./components/editgame/EditGameForm.css");
@import url("./components/footer/Contact.css");
@import url("./components/footer/Footer.css");
@import url("./components/footer/OtherLinks.css");
@import url("./components/footer/SiteLinks.css");
@import url("./components/header/HamburgerMenu.css");
@import url("./components/header/Header.css");
@import url("./components/header/Logo.css");
@import url("./components/header/NavBar.css");
@import url("./components/search/Pagination.css");
@import url("./components/search/SearchForm.css");
@import url("./components/search/SearchInput.css");
@import url("./components/search/SearchResult.css");
@import url("./components/App.css");
@import url("./components/GameCard.css");
@import url("./components/GameDetailsCard.css");
@import url("./components/HeroCard.css");
@import url("./components/Modal.css");
@import url("./pages/AboutPage.css");
@import url("./pages/EditGamePage.css");
@import url("./pages/ErrorPage.css");
@import url("./pages/FavouritesPage.css");
@import url("./pages/Forbidden.css");
@import url("./pages/GameDetailsPage.css");
@import url("./pages/LandingPage.css");
@import url("./pages/LoginPage.css");
@import url("./pages/LogoutPage.css");
@import url("./pages/NotFound.css");
@import url("./pages/RegisterPage.css");
@import url("./pages/RequestPage.css");
@import url("./pages/SearchPage.css");
@import url("./pages/UserAccountPage.css");

/******************
* General Styling *
******************/

:root {
    --color-bar-purple: #4E69FA;
    --color-black: #101010;
    --color-button-hover: #797679;
    --color-card-light: #F4D9B7;
    --color-footer-heading: #D23C3C;
    --color-form: #D9D9D9;
    --color-link-active: #CC8B21;
    --color-nintendo-gray: #9D99A0;
    --color-nintendo-gray-light: #ADA8AD;
    --color-white: #f0cca4;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--color-white);

    main {
        flex: 5;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        font-family: "Blinker", sans-serif;
    }
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

input {
    height: 39px;
    font-size: x-large;
    padding-left: 1rem;
    filter: drop-shadow(rgb(0, 0, 0, 0.25) 4px 4px 4px);
    font-family: "Arima Madurai", display;
}

select {
    font-size: 1.4rem;
    padding: 0.2rem;
}

textarea {
    box-sizing: border-box;
    resize: none;
    min-height: 15rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

fieldset {
    padding: 2rem;
    border: 5px solid;
    margin: 2rem;
    border-color: var(--color-bar-purple);
    border-radius: 8px;

    legend {
        font-size: 3rem;
        font-family: "Silkscreen", sans-serif;
        text-align: center;
    }
}

.successMessage {
    color: darkgreen;
}

.errorMessage {
    color: red;
}

/************************
* Common Button Classes *
************************/

.gameButton {
    padding: 0.2rem 0.6rem 0;
    font-size: 1.4rem;
    border-radius: 8px;
    border: solid;
    font-family: "Arima Madurai", display;
    background-color: var(--color-nintendo-gray-light);
    border-width: thin;
}

.accountButton {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: lawngreen;
    font-weight: 600;
    margin-top: 1rem;
}

.favouriteButton {
    height: 3rem;
    min-width: 3rem;
    align-self: self-end;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: var(--color-nintendo-gray);
    border: none;
}

button:hover {
    background-color: var(--color-button-hover);
}