@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.bunny.net/css?family=arima-madurai:400");
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import url("./components/App.css");
@import url("./components/FavouriteButton.css");
@import url("./components/GameCard.css");
@import url("./components/HeroCard.css");
@import url("./components/LoginForm.css");
@import url("./components/RegisterForm.css");
@import url("./components/footer/Contact.css");
@import url("./components/footer/Footer.css");
@import url("./components/footer/OtherLinks.css");
@import url("./components/footer/SiteLinks.css");
@import url("./components/header/Header.css");
@import url("./components/header/Logo.css");
@import url("./components/header/NavBar.css");
@import url("./components/search/Pagination.css");
@import url("./components/search/SearchForm.css");
@import url("./components/search/SearchResult.css");
@import url("./pages/AboutPage.css");
@import url("./pages/EditGamePage.css");
@import url("./pages/FavouritesPage.css");
@import url("./pages/GameDetailsPage.css");
@import url("./pages/LandingPage.css");
@import url("./pages/LoginPage.css");
@import url("./pages/RegisterPage.css");
@import url("./pages/RequestPage.css");
@import url("./pages/SearchPage.css");
@import url("./pages/UserAccountPage.css");

/******************
* General Styling *
******************/

:root {
    --color-white: #f0cca4;
    --color-black: #101010;
    --color-card-light: #F4D9B7;
    --color-link-active: #CC8B21;
    --color-bar-purple: #4E69FA;
    --color-footer-heading: #D23C3C;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--color-white);

    main {
        flex: 5;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        font-family: "Blinker", sans-serif;
    }
}

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}