
#addGameInformation {
    display: flex;
    flex-direction: column;

    #addGameForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 3rem;

        input {
            grid-column: 1;
            width: 90%;
        }

        button {
            grid-column: 2;
            grid-row: 6;
        }

        #description {
            grid-column: 1 / 3;
        }

        #playersSection, #categorySection, #coverSection, #releasedSection {
            display: flex;
            grid-column: 2;
            align-items: center;
            grid-row: 2;
            gap: 1rem;
            color: var(--color-black);

            h2 {
                font-size: 2rem;
                font-family: "Arima Madurai", display;
                font-weight: 100;
            }
        }

        #categorySection {
            grid-column: 1;
            grid-row: 4;
        }

        #coverSection {
            grid-row: 1;
        }

        #releasedSection {
            grid-row: 3;
            align-items: self-start;
            
            #releaseDate {
                width: auto;
            }
        }

        .successMessage, .errorMessage {
            grid-row: 6;
        }
    }
}

@media (max-width: 1110px) {
    #addGameInformation {
        #addGameForm {
            .successMessage, .errorMessage {
                grid-column: 1;
            }
        }
    }
}

@media (max-width: 870px) {
    #addGameInformation {
        #addGameForm {
            display: flex;
            flex-direction: column;

            .accountButton {
                width: fit-content;
                align-self: end;
            }
        }
    }
}

@media (max-width: 550px) {
    #addGameInformation {
        #addGameForm {
            #playersSection, #categorySection, #coverSection, #releasedSection {
                flex-direction: column;
                align-self: center;
                align-items: center;
            }
        }
    }
}