
#pendingRequests {
    table {
        border-collapse: collapse;
        border: 2px solid var(--color-nintendo-gray);
        font-family: 'Blinker';
        font-size: 1.5rem;
        letter-spacing: 1px;
        width: 100%;

        caption {
            caption-side: bottom;
            padding: 10px;
            font-weight: bold;
        }
        
        thead {
            background-color: var(--color-table-head);
            text-align: center;
            font-weight: bold;
        }
          
        th, td {
            border: 1px solid var(--color-nintendo-gray);
            padding: 8px 10px;
        }
          
        td:last-of-type {
            text-align: center;
        }
        
        tbody > tr:nth-of-type(even) {
            background-color: var(--color-table-row);
        }
    }
}