
#pagination {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;

    #pageNumber {
        display: flex;
        gap: 1rem;
        font-family: "Arima Madurai", display;
        font-size: 30px;
        font-weight: 600;

        p {
            font-weight: 100;
        }
    }
}

@media (max-width: 500px) {
    #pagination {
        flex-direction: column;
    }
}