
#searchForm {
    display: flex;
    flex-direction: column;
    
    h1 {
        font-family: "Rancho", cursive;
        font-size: 50px;
        font-weight: 500;
        margin: 1rem 0;
        align-self: center;
    }

    #searchFilters {
        display: flex;
        gap: 3rem;
        align-self: center;
        font-family: "Arima Madurai", display;
    }

    #searchInput {
        display: flex;
        align-self: center;
        margin-top: 3rem;
        gap: 2rem;
        align-items: center;

        input {
            padding-left: 0.5rem;
        }
    }
}